@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutRegistration";
    var user = ViewData["CalendlyUser"];
    var calendlyUser = user.ToString();
}
<!-- ForgotPassword.cshtml -->
@model string

<h1>Forgot Password</h1>

@if (!string.IsNullOrEmpty(Model))
{
    <p>Email sent to @Model</p>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget password</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login-box-msg">

        @if (calendlyUser == "nihar")
        {

            <img src="/img/Ganju-Logo.png" class="brand-image" style="opacity:.8;margin-right:10px; height: 50px;
    width: 45px;">
        }
        else if (calendlyUser == "hirsch")
        {

            <img src="/img/HH Logo.jpg" class="brand-image" style="opacity:.8;margin-right:10px; height: 50px;
    width: 45px;">
        }


    </div>




    <form asp-controller="PasswordReset" asp-action="ForgotPassword" method="post">
        <div class="input-group mb-3">
            <label class="form-control">Email:</label>

            <input type="email" class="form-control" name="email" required />
        </div>


        <div class="input-group mb-3"> <button type="submit">Reset Password</button> </div>
    </form>



    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>



