@model Medical_Athena_Calendly.ViewModel.Calendly.CalendlyInviteUserOutputResource

@{
if((Model!=null))
{
        <div>
            <p> @Model.email </p>
            <p>@Model.organization</p>
        </div>

}
}

