@using Medical_Athena_Calendly.CommonServices
@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>

<html>
<head>
 
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/adminlte.css" rel="stylesheet" />
   
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="hold-transition layout-top-nav">
    <div>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="" class="navbar-brand">
                    <img src="/img/athenahealth.png" alt="Calendly-Athena Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                        <span class="brand-text font-weight-light">Calendly-Athena</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                             <a asp-action="Dashboard" asp-controller="Home" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                             <a asp-action="Dashboard" asp-controller="Home" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Athena" class="nav-link">Athena</a>
                        </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Patient" class="nav-link">Patient</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="OrganizationMemberships" asp-controller="Calendly" class="nav-link">Book Appointment</a>
                            </li>
                    </ul>

                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Logout" asp-controller="Login">
                            <i class="fas fa-th-large">Logout</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!--Main Page-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @Html.Partial("_Breadcrumb")
            </section>

            <section class="content">
                <div class="container">
                    @RenderBody()
                </div>
                </section>
        </div>
    </div>

    <!--Footer-->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.1.0
        </div>
            <strong>Copyright &copy; 2023 <a href="">@AppSettings.Value.ProjectName</a>.</strong> All rights reserved.
    </footer>
    </div>
</body>
</html>
