@model Medical_Athena_Calendly.ViewModel.ChangePasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = ViewData["CalendlyUser"];
    var calendlyUser = user.ToString();

    if (calendlyUser == "nihar")
    {
        Layout = "~/Views/Shared/_LayoutNihar.cshtml";
    }
    else if (calendlyUser == "hirsch")
    {
        Layout = "~/Views/Shared/_LayoutHirsch.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Change Password</h2>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="OldPassword">Old Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
