@model Medical_Athena_Calendly.Models.User

@{
    Layout = "_LayoutRegistration";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
     <link rel="stylesheet" href="~/css/login.css"/>
</head>
<body class="login-body">
    @* <div class="login-box-msg"><img src="../img/Athena-healthsm-logo.png"></div> *@
    <p class="login-box-msg">Sign in to start your session</p>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    }
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group mb-3">
            @* <label asp-for="Email" class="control-label"></label>*@
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            @*  <label asp-for="Password" class="control-label"></label>*@
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
                <div class="social-auth-links text-center mt-2 mb-3">
                <button type="submit" asp-action="Login" class="btn btn-primary wc-button btn-block">Sign In</button>          
        </div>
      
    </form>
    <div class="social-auth-links text-center mt-2 mt-3">
        @* <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a> *@
        <a href="#" class="btn btn-block google-pluse btn-danger mt-4 mb-4">
            <img src="../img/google-plus-g.svg"> Sign in using Google
        </a>
    </div>
    <!-- /.social-auth-links -->
    <p class="mb-2">
        <a href="forgot-password.html">I forgot my password</a>
    </p>
    <p class="mb-3">
        <a  asp-action="Index" asp-controller="Registration" class="text-center">Register a new membership</a>
    </p>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </body>
    </html>
