@{
    Layout = "_LayoutTopNav";
	 var userName = ViewData["userName"];
}

<link rel="stylesheet" href="~/css/calender.css">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<!-- Modal Popup -->
	<div class="modal" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="eventModalLabel">Event Details</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Content of the modal goes here -->
					<div id="eventDetails"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		
  <div class="row">
    <div class="col-xl-3 ps-0">
	<div class="card mr-3">
  <div class="card-body fs-14 flex-column d-flex  justify-content-center align-items-center">
    <div class="usr-image  pt-3 pb-3"><img src="../img/user.png"></div>
						<div class="customer-name"><h4>@ViewData["userName"]</h4></div>
	 <div class="w-100 border-bottom pb-2"><b>Details</b></div>
	  <div class="w-100 d-flex align-items-center justify-content-center flex-row pt-2 pb-2">
		<span class="d-flex flex-grow-1">Age</span>
		<span class="font-weight-bolder">26 Years</span>
	  </div>

	  <div class="w-100 d-flex align-items-center justify-content-center flex-row pt-1 pb-1">
		<span class="d-flex flex-grow-1"> Blood Group</span>
		<span class="font-weight-bolder">O+</span>
	  </div>

	  <div class="w-100 d-flex align-items-center justify-content-center flex-row pt-1 pb-1">
		<span class="d-flex flex-grow-1"> Height(m)</span>
		<span class="font-weight-bolder">1.78</span>
	  </div>

	  <div class="w-100 d-flex align-items-center border-bottom justify-content-center flex-row pt-1 pb-3 mb-3">
		<span class="d-flex flex-grow-1"> Weight (Kg)</span>
		<span class="font-weight-bolder">60</span>
	  </div>   
<p><a href="#" class="card-link">jotform</a></p>
 <p><a href="#" class="card-link">educational items</a></p>   
<p><a href="#" class="card-link">Athena portal</a></p>	
  </div>
</div>
	</div>
    <div class="col-xl-9">
		<div class="card text-center">
  
  <div class="card-body">
@*    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>*@
						<div id="calendar"></div>
						<!-- Popup container -->

					</div>
</div>
	</div>
  </div>
</div>

<div id='wrap'>

@* <div style='clear:both'></div> *@
</div>
</body>


<!-- JS includes -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
		<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
		@*<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>*@
@*<script src="~/js/calendar.js"></script>*@
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
		
		<script type="text/javascript">	
			//$(document).ready(function () {
				document.addEventListener('DOMContentLoaded', function() {

		const calendarEl = document.getElementById('calendar')
		const calendar = new FullCalendar.Calendar(calendarEl, {
			headerToolbar: {
				left: 'prevYear,prev,next,nextYear today',
				center: 'title',
				//right: 'dayGridMonth,dayGridWeek,dayGridDay'
				right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
			},
			navLinks: true, // can click day/week names to navigate views
			selectable: true,
			events: '@Url.RouteUrl(new{ action="GetEvents", controller="Home"})',
			eventClick: function (info) {
				var eventElement = info.el;
				$("#eventModal").modal("show");
				var eventDetails = document.getElementById('eventDetails');
				eventDetails.innerHTML = '<h3>' + info.event.title + '</h3>' +
				' <p><h5> Meeting Time</h5>' +
					'<h5>' + info.event.start + '</h5>' +
					'<h5>' + info.event.end + '</h5></p>' +
					'<p><a onclick="openCalendly(' + "'" + info.event.extendedProps.cancleUrl + "'," + "'@userName'" + ')" href="#">Cancel Appointment </a></p>' +
					'<p><a onclick="openCalendly(' + "'" + info.event.extendedProps.rescheduleLink + "'," + "'@userName'" + ')" href="#">Reschedule Appointment </a></p>';
				// Attach onclick event handler
				//eventElement.addEventListener('click', function () {
				//	// Open the modal
					
				//	console.log(info);
				//	// Set the event details in the modal body
				//	var eventDetails = document.getElementById('eventDetails');
				//	eventDetails.innerHTML = '<h3>' + info.event.title + '</h3>' +
				//		'<p>' + info.event.extendedProps.cancleUrl + '</p>';
				//});
			}
		});
			
		calendar.render();

			});


	function openCalendly(url, userName) {
		console.log("click")
		Calendly.initPopupWidget({
			url: url,
			prefill: {
				name: userName
			}
			//    , text: 'Schedule Meeting', color: '#006bff', textColor: '#ffffff', branding: true
			//parentElement: document.getElementById("calendlyContainer"),
		});
	}
		</script>


</script>
</html>
