@{
    Layout = "_LayoutTopNav";
}
<h2>Hello</h2>

<a asp-controller="Calendly" asp-action="ScheduledEvents"> Show meeting </a>

@{
    Html.RenderPartial("_CalendlyUser");
}



<table class="table rounded border table-striped table-hover mt-3">
  <thead class="bg-green-light">
    <tr>
      <th class="w-60 border-bottom-0" scope="col">#</th>
      <th class="w-60 border-bottom-0" scope="col"></th>
      <th class="border-bottom-0" scope="col">Name</th>
      <th class="border-bottom-0" scope="col">Book Appointment</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>1</td>
      <td class="p-0 pt-1"><img src="~/img/user.png"></td>
      <td>"f"</td>
      <td><a href="#">Book</a></td>
    </tr>
   
  </tbody>
</table>