@using Medical_Athena_Calendly.CommonServices
@using Medical_Athena_Calendly.ViewModel.Athena
@model Medical_Athena_Calendly.ViewModel.Athena.NewPatientModel

@{
    ViewData["Title"] = "Patient Profile";
    ViewBag.Title = "Patient Profile";
    var user = ViewData["CalendlyUser"];
    var calendlyUser = user.ToString();

    if (calendlyUser == "nihar")
    {
        Layout = "~/Views/Shared/_LayoutNihar.cshtml";
    }
    else if (calendlyUser == "hirsch")
    {
        Layout = "~/Views/Shared/_LayoutHirsch.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var code = ViewData["Language"] as List<Language>;
}



<hr class="mt-0 h-0" />
<div class="d-flex flex-row flex-wrap">
    <form asp-action="CreateAsync" asp-controller="Patient" method="post">


        @*Identification start here*@
        <section class="d-flex flex-row flex-wrap w-100 gap-24 mb-24">
            <h4 class="w-100">Identification</h4>
            @* last name*@
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="lastname">Legal last name<span class="asterisk-mark">*</span></label>
                <input asp-for="lastname" type="text" required>
                <span asp-validation-for="lastname" class="text-danger"></span>
            </span>
            @* first name*@
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="firstname">Legal last name<span class="asterisk-mark">*</span></label>
                <input asp-for="firstname" type="text" required>
                <span asp-validation-for="firstname" class="text-danger"></span>
            </span>


            <span class="label-wrapper d-flex flex-column">
                <label asp-for="dob ">DOB <span class="asterisk-mark">*</span></label>
                <input asp-for="dob" type="text" placeholder="dd/mm/yyyy" required>
                <span asp-validation-for="dob" class="text-danger"></span>
            </span>


        </section>

        @*Contact start here*@
        <section class="d-flex flex-row flex-wrap w-100 gap-24 mb-24">
            <h4 class="w-100">Contact</h4>

            <span class="label-wrapper d-flex flex-column w-435px">
                <label asp-for="address1">Street Address</label>
                <input asp-for="address1" type="text">

            </span>

            <span class="label-wrapper d-flex flex-column  w-435px">
                <label asp-for="address2">Street Address Line 2</label>
                <input asp-for="address2" type="text">

            </span>
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="zip">Postal / Zip Code</label>
                <input asp-for="zip" type="text">

            </span>
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="city">City</label>
                <input asp-for="city" type="text">

            </span>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="state">State</label>
                <input asp-for="state" type="text">

            </span>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="homephone">Home phone</label>
                <input asp-for="homephone" type="text">

            </span>
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="mobilephone">Mobile phone</label>
                <input asp-for="mobilephone" type="text">

            </span>


            <span class="label-wrapper d-flex flex-row align-items-center mt-4">
                <label asp-for="consenttotext">Consent to text</label>
                <input asp-for="consenttotext" type="radio" checked="checked" value="Yes">
                <label>Yes</label>
                <input asp-for="consenttotext" type="radio" value="No">
                <label>No</label>

            </span>
            <span class="label-wrapper d-flex flex-row  align-items-center mt-4">
                <label asp-for="consenttocall">Consent to call</label>
                <input asp-for="consenttocall" type="radio" value="Yes">
                <label>Yes</label>
                <input asp-for="consenttocall" type="radio" checked="checked" value="No">
                <label>No</label>

            </span>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="workphone">Work phone</label>
                <input asp-for="workphone" type="text">

            </span>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="email">Patient email</label>
                <input asp-for="email" type="text">
                <span asp-validation-for="email" class="text-danger"></span>
            </span>

            <span class="label-wrapper d-flex flex-column">



            </span>
        </section>

        @* Demographics*@
        <section class="d-flex flex-row flex-wrap w-100 gap-24 mb-24">
            <h4 class="w-100">Demographics</h4>

            <span class="label-wrapper d-flex flex-column w-435px">
                <label asp-for="language6392code">Language</label>
                <select asp-for="language6392code">
                    <option>--Select--</option>
                    @foreach (var language in code)
                    {
                        <option value="@language.Alpha3Code">@language.ToString()</option>
                    }
                </select>

            </span>


            <span class="label-wrapper d-flex flex-column">
                <label asp-for="race">Race </label>
                <select asp-for="race" type="text"></select>
            </span>
            <span class="label-wrapper d-flex flex-row mt-4 align-items-center">
                <label asp-for="israce">Patient declined </label>
                <input asp-for="israce" value="true" type="checkbox" checked="checked">

            </span>

            <span class="label-wrapper d-flex flex-column">
                @*  <label asp-for="ethnicitycode">Ethnicity </label>
                <select asp-for="ethnicitycode" type="text"></select>       *@
            </span>

            <span style="display:none;" class="label-wrapper d-flex flex-row mt-4 align-items-center">
                <label style="display:none;" asp-for="isethnicitycode">Patient declined </label>
                <input style="display:none;" asp-for="isethnicitycode" value="true" type="checkbox" checked="checked">
            </span>
        </section>



        <section class="d-flex flex-row flex-wrap grow-1 gap-24 mb-24 max-w-230">
            <h4 class="w-100">Guarantor</h4>
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="guarantorrelationshiptopatient">Patient relationship to guarantor </label>
                <select asp-for="guarantorrelationshiptopatient" type="text">
                    <option>--Select--</option>
                </select>

            </span>
        </section>


        <section class="d-flex flex-row flex-wrap w-100 gap-24 mb-24">
            <div class="d-flex align-items-center flex-row justify-content-start w-100">
                <h4 class="me-4"><span>Mailling Address</span></h4>
                <span style="display:none;"><b><input asp-for="guarantoraddresssameaspatient" style="display:none;" type="checkbox">Guarantor address same as above</b></span>
            </div>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="guarantoraddress1">Street Address</label>
                <input asp-for="guarantoraddress1" type="text">

            </span>
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="guarantoraddress2">Street Address Line 2</label>
                <input asp-for="guarantoraddress2" type="text">
            </span>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="guarantorzip">Postal / Zip Code</label>
                <input asp-for="guarantorzip" type="text">
            </span>

            <span class="label-wrapper d-flex flex-column">
                <label asp-for="guarantorcity">City</label>
                <input asp-for="guarantorcity" type="text">
            </span>
            <span class="label-wrapper d-flex flex-column">
                <label asp-for="guarantorstate">State</label>
                <input asp-for="guarantorstate" type="text">
            </span>
        </section>

        <div class="d-flex flex-row align-items-center justify-content-start mb-4">

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@*<button class="ms-0" type="submit" formmethod="post" asp-action="CreateAsync" asp-controller="Patient">Save</button>*@




@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
