
body {
 
  color: #384047;
  font-size: 13px;
 
}


.register-page {
  background: #83e0ff;
  background: url("../img/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
}


.login-box-msg img {
 width: 100%;
 height: auto;
}

.card-primary.card-outline {
  border-top: 0;
  border-radius:12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 13px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
}

.card-header {
padding: 24px;
color: #4e2d82;
border-bottom: 1px solid rgba(0, 0, 0, 0.08);
text-transform: uppercase;
}

.btn-primary {
  background-color: #4e2d82;
  border: solid 1px #4e2d82;
  line-height: 30px;
}

.google-pluse {
  background-color: #dc4a33;
}

.google-pluse img {
  width:30px;
  height: 30px;
  margin-right: 10px;
}

.input-group > .form-control {
  line-height: 34px;
}

footer {
  border-top: 0 !important;
}